.title {
  position: absolute;
  font-size: 300%;
  font-weight: 800;
  top: 100px;
  left: 60px;
}

.scroll {
  position: absolute;
  top: 200px;
  right: 100px;
}

.update {
  position: absolute;
  font-size: 150%;
  font-weight: 900;
  top: 110px;
  right: 140px;
}

.updates {
  color: #971b2f;
}

.logo {
  max-width: 35%;
  height: auto;
  margin-right: auto;
  margin-left: 100px;
}

.club {
  font-weight: 900;
  font-size: 180%;
  color: #ffffff;
}

.content {
  font-weight: 700;
  color: #ffffff;
}

.message {
  position: relative;
  width: 550px;
  right: 2rem;
}

.text1 {
  position: relative;
  left: 2.8rem;
  font-size: 200%;
  font-weight: 800;
}

.text2 {
  position: relative;
  left: 4rem;
  font-size: 200%;
  font-weight: 800;
}
