.div{
    position: fixed;
}
.postags {
    position: absolute;
    top: 55px;
    right: 85%;
    width: 200px;
    height: 100px;
  }
.search {
  width:970px
}
  .posclubs {
    position: absolute;
    top: -55px;
    left: 20%;
  }