.title {
  position: absolute;
  font-size: 300%;
  font-weight: 800;
  top: 100px;
  left: 60px;
}

.scroll {
  position: absolute;
  top: 200px;
  right: 100px;
}

.update {
  position: absolute;
  font-size: 150%;
  font-weight: 900;
  top: 110px;
  right: 140px;
}

.updates{
  color: #971B2F
}

.logo {
  position: 'absolute';

}