/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Hero/Hero.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Hero_title__bGj6o {
  position: absolute;
  font-size: 300%;
  font-weight: 800;
  top: 100px;
  left: 60px;
}

.Hero_scroll__NzA_x {
  position: absolute;
  top: 200px;
  right: 100px;
}

.Hero_update__3BhnN {
  position: absolute;
  font-size: 150%;
  font-weight: 900;
  top: 110px;
  right: 140px;
}

.Hero_updates__cafCb {
  color: #971b2f;
}

.Hero_logo__UVTGl {
  max-width: 35%;
  height: auto;
  margin-right: auto;
  margin-left: 100px;
}

.Hero_club__clSZc {
  font-weight: 900;
  font-size: 180%;
}

.Hero_content__FJG4L {
  font-weight: 700;
}

