.title {
  position:absolute;
  top: 15%;
  left:40%;
  font-size: 45px;
}
.scroll {
  position: absolute;
  left: 40%;
  top: 50%;
}
.icon {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 350px;
  height: 350px;
}
.section {
  position: absolute;
  left: 45%;
  top:25%;
}
